.chatbot header {
	display: flex;
	padding: 16px 20px;
	justify-content: space-between;
	position: relative;
	text-align: center;
	color: var(--chatbot-bg-color);
	background: var(--header-bg-color);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header h1 {
	font-size: 1.4rem;
}
