.chatbot .chatbot_body {
	overflow-y: auto;
	height: calc(100vh - 8.2rem);
	padding: 30px 20px 100px;
}

.chatbot :where(.chatbot_body, input)::-webkit-scrollbar {
	width: 6px;
}

.chatbot :where(.chatbot_body, input)::-webkit-scrollbar-track {
	background: var(--chatbot-bg-color);
	border-radius: 25px;
}

.chatbot :where(.chatbot_body, input)::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb-bg-color);
	border-radius: 25px;
}
