.chatbot {
	position: fixed;
	right: 10px;
	bottom: 96px;
	width: 440px;
	height: 80vh;
	background: var(--chatbot-bg-color);
	border-radius: 5px;
	overflow: hidden;
	transform-origin: bottom right;
	box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
	transition: all 3ms ease;
}

/* responsive for mobile screen */
@media (max-width: 540px) {
	.chatbot {
		right: 0;
		bottom: 0;
		height: 100%;
		border-radius: 0;
		width: 100%;
	}

	.chatbot .chatbot_body {
		padding: 25px 15px 100px;
	}

	.chatbot .chat-input {
		padding: 5px 15px;
	}

	.circle_btn {
		top: 10px;
	}

	.circle_btn button {
		width: 40px;
		height: 40px;
		font-size: 1.2rem;
	}
}
