.chatbot .chat-input {
	display: flex;
	gap: 5px;
	position: absolute;
	bottom: 0;
	width: 100%;
	background: var(--chatbot-bg-color);
	padding: 3px 20px;
	border-top: 1px solid var(--footer-border-color);
}

.chat-input input {
	height: 55px;
	width: 100%;
	border: none;
	outline: none;
	resize: none;
	max-height: 180px;
	padding: 15px 15px 15px 0;
	font-size: 0.95rem;
}

.chat-input input::placeholder {
	font-size: 1rem;
	color: rgb(204, 190, 190);
}

.chat-input button {
	align-self: center;
	color: var(--chatbot-btn-color);
	background: var(--chatbot-bg-color);
	cursor: pointer;
	height: 40px;
	width: 40px;
	font-size: 1.35rem;
	border: none;
}

.chat-input input:valid ~ span {
	visibility: visible;
}

.chat-input button:disabled {
	opacity: 0.2;
	color: var(--chatbot-btn-color);
}
